{% extends 'base.html.twig' %}

{% block title %}
	{{'nav.signIn'|trans}}
{% endblock %}

{% block body %}

	<form method="post" class="login-form">
		<p>{{'nav.forgotPassword.message'|trans}}</p>
		{{ form_start(form) }}
		<div>
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
			{{ form_errors(form.email) }}
		</div>
		<button type="submit" class="btn btn-success" style="margin-bottom: 35px">{{ "button.validate"|trans }}</button>
		{{ form_end(form) }}
	</form>
{% endblock %}
