{% extends 'base.html.twig' %}

{% block title %}
	{{ 'nav.home'|trans }}
{% endblock %}

{% block body %}
	<div>
		<div id="index-img">
			<img src="{{ asset('image/man-g609b0aeff_1920.jpg') }}" class="img-fluid" id="index-fullscreen-img">
			<a href="#" class="arrow-down"><img src="{{ asset('image/icons/arrow-down-circle.svg') }}"></a>
		</div>
		<ul class="figure-card-list">
			{% for data in datas %}
				<div class="card" style="width: 18rem;">
					{% for picture in data.figurePictures %}
						{% if picture.main %}
							<img src="{{ asset('image/' ~ picture.fileName) }}" class="card-img-top">
						{% endif %}
					{% endfor %}
					<div class="card-body">
						<h5 class="card-title">{{ data.name }}</h5>
						<p class="card-text">{{ data.description }}</p>
						<a href=" {{path('figure', {slug: data.slug} )}}" class="btn btn-primary">{{"card.details"|trans}}</a>
					</div>
				</div>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
