{% extends 'base.html.twig' %}

{% block title %}
	{{ figure.name }}
{% endblock %}

{% block body %}

	<div class="trick-page-top">
		{% if app.user %}
			<div class="details_buttons_widget">
				<a href="{{path('modification', {slug: figure.slug} )}}" class="details_button">
					<button type="button" class="btn btn-light figure_button"><img src="{{ asset('image/icons/penne.png') }}" class="icons"></button>
				</a>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-light  figure_button details_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<img src="{{ asset('image/icons/poubelle.png') }}" class="icons">
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">{{ figure.name }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{{ 'figure.deleteMessage'|trans }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
								<a href="{{path('deleteFigure', {figure: figure.id})}}">
									<button type="button" class="btn btn-primary">{{ 'button.delete'|trans }}</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if figure.figurePictures|length == 0 %}
			<img src="{{ asset('image/default/default.jpg') }}" class="figure-principal-img">

		{% elseif figure.figurePictures|length == 1 %}
			<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="figure-principal-img">


		{% elseif figure.figurePictures|length > 1 %}
			{% set mainExist = false %}
			{% for picture in figure.figurePictures %}
				{% if picture.main %}
					{% set mainExist = true %}
					<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="figure-principal-img">
				{% endif %}
			{% endfor %}
			{% if mainExist == false %}
				<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="figure-principal-img">
			{% endif %}
		{% endif %}

		<h1>{{ figure.name | capitalize}}</h1>

	</div>
	<a class="see-media-button">{{'button.seeMedia'|trans}}</a>
	<div class="trick-page-mid">
		{% for video in figure.relatedVideos %}
			{{ video.link | raw}}

		{% endfor %}
		{% for picture in figure.figurePictures %}

			<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="trick-small-image">


		{% endfor %}
	</div>
	<div class="trick-description">
		<h2>{{"figure.description"|trans}}</h2>
		<p>{{ figure.description }}</p>
	</div>
	<hr>
	<div class="figure_informations">
		<h4>{{"figure.group"|trans({'%group%': figure.figureGroup.name})}}</h4>
		<p>{{"figure.addDate"|trans({"%date%": figure.createdAt | date("d/m/Y \\à G\\hi", "Europe/Paris"), '%user%': figure.autor.name})}}
		</p>
		{% if date(figure.modifiedAt) > date(figure.createdAt) %}
			<p>{{ 'figure.modifiedAt'|trans({'%date%': figure.modifiedAt | date("d/m/Y \\à G\\hi", "Europe/Paris")})}}</p>
		{% endif %}
	</div>
	<hr class="mid-page-separator">
	<div class="trick-comments" id="comments">
		{% if app.user %}
			<hr>
			<h4>{{ "figure.addComment" | trans }}</h4>
			{{ form_start(form) }}
			{{ form_row(form.content) }}
			<button type="submit">{{'button.validate'|trans}}</button>
			{{ form_end(form) }}
			<hr>
		{% endif %}
		<h2>{{"figure.comments"|trans}}</h2>
		{% for comment in comments %}
			<div class="figure-comment">
				<div class="figure-comment-details">
					{% if comment.user.profilPicture %}
						<img src=" {{ asset('image/profile/' ~ comment.user.profilPicture.link)}} " class=" profil-picture">
					{% else %}
						<img src="{{ asset('image/default/Image_not_available.png') }}" class="profil-picture">
					{% endif %}
					<div class="figure-comment-details-user">
						<p>{{ comment.user.name }}</p>
						<p>{{ comment.date | date("d/m/Y \\à G\\hi", "Europe/Paris") }}</p>
					</div>

				</div>
				<p>{{ comment.content }}</p>
			</div>
		{% endfor %}
		{% if page < maxPage %}
			<a href="{{path('figure', {slug: figure.slug, page: page + 1 } )}}#comments">
				<button type="button" class="btn btn-light" style="height:50px">{{"figure.moreComments"|trans}}</button>
			</a>
		{% endif %}
	</div>
{% endblock %}
