{% extends 'base.html.twig' %}

{% block title %}
	{{ figure.name }}
{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('success') %}

		<h5 class="success">{{ flashMessage }}</h5>

	{% endfor %}
	<div class="trick-page-top">

		{% if figure.figurePictures|length == 0 %}
			<img src="{{ asset('image/default/default.jpg') }}" class="card-img-top">

		{% elseif figure.figurePictures|length == 1 %}
			<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="card-img-top">


		{% elseif figure.figurePictures|length > 1 %}
			{% set mainExist = false %}
			{% for picture in figure.figurePictures %}
				{% if picture.main %}
					{% set mainExist = true %}
					<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="card-img-top">
				{% endif %}
			{% endfor %}
			{% if mainExist == false %}
				<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="card-img-top">
			{% endif %}
		{% endif %}

		<h1>{{ figure.name | capitalize}}</h1>
		<h4>Groupe :
			{{ figure.figureGroup.name }}</h4>
		<p>Ajoutée le
			{{ figure.createdAt | date("d/m/Y \\à G\\hi", "Europe/Paris")}}
			par
			{{ figure.autor.name }}</p>
		{% if figure.modifiedAt %}
			<p>Modifiée le
				{{ figure.modifiedAt | date("d/m/Y \\à G\\hi", "Europe/Paris")}}</p>
		{% endif %}
	</div>
	<div class="trick-page-mid">
		{% for video in figure.relatedVideos %}
			{{ video.link | raw}}

		{% endfor %}
		{% for picture in figure.figurePictures %}

			<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="trick-small-image">


		{% endfor %}
	</div>
	<div class="trick-description">
		<h2>{{"figure.description"|trans}}</h2>
		<p>{{ figure.description }}</p>
	</div>
	<div class="trick-comments" id="comments">
		{% if app.user %}
			<h4>{{ "figure.addComment" | trans }}</h4>
			{{ form_start(form) }}
			{{ form_row(form.content) }}
			<button type="submit">Valider</button>
			{{ form_end(form) }}

		{% endif %}
		<h2>{{"figure.comments"|trans}}</h2>
		{% for comment in comments %}
			<div class="figure-comment">
				<div class="figure-comment-details">
					{% if comment.user.profilPicture %}
						<img src=" {{ asset('image/profile/' ~ comment.user.profilPicture.link)}} " class=" profil-picture">
					{% endif %}
					<div class="figure-comment-details-user">
						<p>{{ comment.user.name }}</p>
						<p>{{ comment.date | date("d/m/Y \\à G\\hi", "Europe/Paris") }}</p>
					</div>

				</div>
				<p>{{ comment.content }}</p>
			</div>
		{% endfor %}
		{% if page < maxPage %}
			<a href="{{path('figure', {slug: figure.slug, page: page + 1 } )}}#comments">
				<button type="button" class="btn btn-light" style="height:50px">{{"figure.moreComments"|trans}}</button>
			</a>
		{% endif %}
	</div>
{% endblock %}
