{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}

{% block body %}

	<h1>{{'modifiateFigure.modifiateFigure'|trans({'%figure%': figure.name})}}</h1>

	<div class="form-container">
		<div class="new-figure-form">
			{{ form_start(form) }}
			<div class="form-row">
				<div class="form-group col-md-6">
					{{ form_label(form.name)}}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}})}}
					{{ form_errors(form.name) }}
				</div>
				<div class="form-group col-md-1">
					{{ form_label(form.figureGroup) }}
					{{ form_widget(form.figureGroup,  {'attr': {'class': 'form-control'}})}}
					{{ form_errors(form.figureGroup) }}
				</div>

			</div>

			<div class="form-add-description">
				{{ form_label(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control'}})}}
				{{ form_errors(form.description) }}
			</div>
			<div class="custom-file">
				{{ form_label(form.picture) }}
				{{ form_widget(form.picture, {'attr': {'class': 'custom-file-input'}}) }}
				{{ form_errors(form.picture) }}
			</div>

			{% for picture in figure.figurePictures %}
				<div class="card" style="width:35%">
					<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="card-img-top">
					<a href="{{path('deletePicture', {pictureId: picture.id, figureId: figure.id}) }}">
						<button type="button" class="btn btn-danger">{{ "modifiateFigure.delete"|trans }}</button>
					</a>

					{% if picture.main != true %}
						<a href="{{path('makePictureMain', {picture: picture.id}) }}">
							<button type="button" class="btn btn-success">{{ "modifiateFigure.makeMain"|trans }}</button>
						</a>
					{% endif %}
				</div>
			{% endfor %}
			<ul class="tags" data-index="{{ form.relatedVideos|length > 0 ? form.relatedVideos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.relatedVideos.vars.prototype)|e('html_attr') }}">
				{% for video in form.relatedVideos %}
					<li>{{ form_row(video.link) }}</li>
				{% endfor %}
				<button type="button" class="add_item_link" data-collection-holder-class="tags">{{'figure.addVideo'|trans}}</button>
			</ul>


			<button type="submit" class="btn btn-success">{{ "button.validate"|trans }}</button>
			{% for flashMessage in app.session.flashbag.get('error') %}

				<h5 class="error">{{ flashMessage }}</h5>

			{% endfor %}

			{{ form_end(form) }}
		</div>
	{% endblock %}
