{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}

{% block body %}

	<h1>{{'modifiateFigure.modifiateFigure'|trans({'%figure%': figure.name})}}</h1>

	<div class="form-container">
		<div class="new-figure-form">
			{% if figure.figurePictures|length == 0 %}
				<img src="{{ asset('image/default/default.jpg') }}" class="figure-principal-img">

			{% elseif figure.figurePictures|length == 1 %}
				<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="figure-principal-img">


			{% elseif figure.figurePictures|length > 1 %}
				{% set mainExist = false %}
				{% for picture in figure.figurePictures %}
					{% if picture.main %}
						{% set mainExist = true %}
						<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="figure-principal-img">
					{% endif %}
				{% endfor %}
				{% if mainExist == false %}
					<img src="{{ asset('image/upload/' ~ figure.figurePictures[0].fileName) }}" class="figure-principal-img">
				{% endif %}
			{% endif %}

			{{ form_start(form) }}
			<div class="form-row form-name-group">
				<div class="form-group">
					{{ form_label(form.figureGroup) }}
					{{ form_widget(form.figureGroup,  {'attr': {'class': 'form-control'}})}}
					{{ form_errors(form.figureGroup) }}
				</div>
				<div class="form-group">
					{{ form_label(form.name)}}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}})}}
					{{ form_errors(form.name) }}
				</div>


			</div>

			<div class="form-add-description">
				{{ form_label(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control'}})}}
				{{ form_errors(form.description) }}
			</div>
			<div class="custom-file">
				{{ form_label(form.picture) }}
				{{ form_widget(form.picture, {'attr': {'class': 'custom-file-input'}}) }}
				{{ form_errors(form.picture) }}

			</div>
			<button type="button" class="see-media-button">{{'button.seeMedia'|trans}}</button>
			<div class="pictures_container">
				{% for picture in figure.figurePictures %}
					<div class="card">
						<img src="{{ asset('image/upload/' ~ picture.fileName) }}" class="card-img-top">
						<div class="image-icons">
							<a href="{{path('deletePicture', {pictureId: picture.id, figureId: figure.id}) }}">
								<button type="button" class="btn btn-danger"><img src="{{ asset('image/icons/poubelle.png') }}" class="icons"></button>
							</a>

							{% if picture.main != true %}
								<a href="{{path('makePictureMain', {picture: picture.id}) }}">
									<button type="button" class="btn btn-light"><img src="{{ asset('image/icons/empty-star.png') }}" class="icons"></button>
								</a>
							{% elseif picture.main is same as true %}
								<img src="{{ asset('image/icons/gold-star.png') }}" class="icons">
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="form-video">
				<h4>{{'figure.video'|trans}}</h4>
				<div class="form-videolist">

					<ul class="tags" data-index="{{ form.relatedVideos|length > 0 ? form.relatedVideos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.relatedVideos.vars.prototype)|e('html_attr') }}">


						{% for video in form.relatedVideos %}
							<div class="related-video">
								<div>{{ video.link.vars.value| raw }}</div>
								<li>{{ form_row(video.link) }}</li>
							</div>
						{% endfor %}


					</ul>
					<p>
						{{'form.addVideos'|trans}}</p>
					<button type="button" class="add_item_link" data-collection-holder-class="tags">{{'figure.addVideo'|trans}}</button>
				</div>
			</div>


			<button type="submit" class="btn btn-success" style="margin-bottom: 35px">{{ "button.validate"|trans }}</button>
			{% for flashMessage in app.session.flashbag.get('error') %}

				<h5 class="error">{{ flashMessage }}</h5>

			{% endfor %}

			{{ form_end(form) }}
		</div>
	{% endblock %}
