{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password) }}
		{{ form_row(form.passwordConfirmation) }}
		{{ form_row(form.profilPicture) }}
		<button type="submit" class="btn btn-success">{{ "button.validate"|trans }}</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
